<div class="container-fluid background">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/ffvii.jpg" alt="Angular Carousel 1">
          </div>
          <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/ffxv.png" alt="Angular Carousel 2">
          </div>
          <div class="carousel-caption">
            <h3>Title Goes Here</h3>
            <p>Consectetur tortor volutpat pretium.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/ffvii.jpg" alt="Angular Carousel 3">
            </div>
            <div class="carousel-caption">
              <h3>Title Goes Here</h3>
              <p>Consectetur tortor volutpat pretium.</p>
            </div>
          </ng-template>
      </ngb-carousel>

      <div>
          <h1>TEST1</h1>
          <h1>TEST2</h1>
          <h1>TEST3</h1>
          <h1>TEST4</h1>
          <h1>TEST5</h1>
          <h1>TEST6</h1>
          <h1>TEST7</h1>
      </div>
</div>