<header>
    <div class="headerwrapper">
        <nav class="navbar navbar-expand-lg navbar-custom navbar-light sticky">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <a class="tupla-logo text-glowing-0" href="#">TuplaWebStore</a>
                    </li>
                </ul>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="ml-auto" *ngIf="!isLoggedIn()">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="authen-button text-glowing-0" [routerLink]="['login']" routerLinkActive="active">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="authen-button text-glowing-0" [routerLink]="['register']" routerLinkActive="active">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ml-auto" *ngIf="isLoggedIn()">
                        <div class="collapse navbar-collapse" id="navbar-list-4">
                            <a>{{service.currentUser.username}}</a>
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img [src]="service.currentUser.userIMG" width="60" height="60" class="rounded">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item text-glowing-0" href="#">Dashboard</a>
                                  <a class="dropdown-item text-glowing-0" href="#">Edit Profile</a>
                                  <a class="dropdown-item text-glowing-0" [routerLink]="['logout']" routerLinkActive="active">Logout</a>
                                </div>
                              </li>   
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>