.headerwrapper {
    min-height: 60px;
    width: 100%;
    z-index: 1000;
    &:after {
        clear: both;
        display: block;
        content: '';
    }
}

.navbar-custom { 
    background-color: #ffe8ce;
  }

  .text-glowing-0:hover {color: #ff9a26;}
  
  .navbar {
    min-height: 120px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (max-height: 450px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 27px;
    }
  }

  .tupla-logo{
    font-family:"Pastel W01 Regular" !important;
    font-size:36px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #ffb661;
  }
  
  .authen-button {
    color: #ffb661;
    padding: 10px;
    font-size: 32px;
    text-align: left;
    font-weight: bold;
    font-family:"Pastel W01 Regular" !important;
  }

  @media (min-width: 992px) {
    .navbar-expand .navbar-collapse {
      display: flex !important;
    }
  }

  /*Sidenav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: #252525;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 4px 8px -3px #858484;
  padding-top: 0px;
}

.sidenav a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  transition: 0.3s
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;        
}

@media screen and (min-width: 451px) {
.sidenav a {font-size: 25px;}
}
@media screen and (max-width: 450px) {
  .sidenav a {font-size: 16px;}
}

.sidenav-heading{
  font-size: 36px;
  color: #fff;
}

.toggle-button {
	box-shadow: 0px 0px 0px 2px #ffd6ad;
	background-color:transparent;
	border-radius:10px;
	border:1px solid #ffdcb7;
	display:inline-block;
	cursor:pointer;
	color:#ffd6aa;
	padding:10px 20px;
	text-decoration:none;
}
.toggle-button:hover {
	background-color:transparent;
}
.toggle-button:active {
	position:relative;
  top:1px;
  color:#ffbb73;
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.name-overflow {
  white-space: nowrap;
  /* width: 16em; */
  text-overflow: ellipsis;
  clear: both;
  display: inline-block;
  overflow: hidden;
}

.name-overflow:hover {
  overflow: visible;
}

.image-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

@media screen and (min-width: 451px) {
  .image-profile
  {
    width: 120px;
    height: 120px;
  }
}

  @media screen and (max-width: 450px) {
    .image-profile 
    {
      width: 80px;
      height: 80px;
    }
}