.progress-bar-custom a {
    color: #000000;
}

@media screen and (min-width: 451px) {
    .progress-bar-custom a {font-size: 16px;}
}
@media screen and (max-width: 450px) {
    .progress-bar-custom a {font-size: 10px;}
}

.list_item_desc {
    margin-left: auto;
    line-height: 20px;
}

.list_item_title {
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    margin-left: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
}

.section_title {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
    padding: 4px 6px 4px 0px;
    margin-bottom: 6px;
    border-bottom: 1px solid #000000;
}

.page_desc {
    font-size: 14px;
    padding-bottom: 30px;
    color: #000000;
}

.AdminPageContent {
    padding: 0 46px;
    position: relative;
    max-width: 1280px;
    text-align: left;
    margin: 0 auto 64px auto;
    min-height: calc( 100vh - 409px );
}

.page_controls {
    float: right;
    margin-bottom: 20px;
    margin-top: 16px;
    border-top: 2px solid #000000;
    width: 100%;
    text-align: right;
    padding-top: 8px;
}

.btn-green-custom-1 {
    display: inline-block;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #d2e885;
    background-color: #98c300;
    border: none;
    border-radius: 15px;
  }
  
  .btn-green-custom-1:hover {background-color: #a4d007}
  
  .btn-green-custom-1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }

  .btn-red-custom-1 {
    display: inline-block;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ff9393;
    background-color: #c70000;
    border: none;
    border-radius: 15px;
  }
  
  .btn-red-custom-1:hover {background-color: rgb(241, 24, 24)}
  
  .btn-red-custom-1:active {
    background-color: #d40000;
    box-shadow: 0 5px #666;
  }

  #imgidentity{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
    border: 1px solid #ffb663;
  }
  #imgidentity:hover{
    opacity: 1;
  }
  #imgmodal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
  }