<div class="container-fluid background">
    <div class="container">
        <h1>Sign Up</h1>
            <div>
            <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                        <div *ngIf="f.Email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
                    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                        <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
                    <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                        <div *ngIf="f.UserName.errors?.required">Username is required</div>
                    </div>
                </div>
                <div formGroupName="Passwords">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password?.errors }" />
                        <div *ngIf="submitted && f.Password?.errors" class="invalid-feedback">
                            <div *ngIf="f.Password.errors?.required">Password is required</div>
                            <div *ngIf="f.Password.errors?.minlength">Password must be at least 4 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword?.errors }" />
                        <div *ngIf="submitted && f.ConfirmPassword?.errors" class="invalid-feedback">
                            <div *ngIf="f.ConfirmPassword.errors?.required">ConfirmPassword is not match</div>
                            <div *ngIf="f.ConfirmPassword.errors?.minlength">ConfirmPassword must be at least 4 characters</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate">BirthDate</label>
                    <input id="set" class="form-control" [max]="maxDate" type="date" formControlName="BirthDate" [ngClass]="{ 'is-invalid': submitted && f.BirthDate.errors }" />
                    <div *ngIf="submitted && f.BirthDate.errors" class="invalid-feedback">
                        <div *ngIf="f.BirthDate.errors.required">BirthDate is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" formControlName="PhoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }" />
                    <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.PhoneNumber.errors.required">PhoneNumber is required</div>
                        <div *ngIf="f.PhoneNumber.errors?.minlength">PhoneNumber must be at least 10 digits</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary my-button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <a routerLink="../login" class="btn btn-link orange-text">Cancel</a>
                </div>
            </form>
            </div>
    </div>
</div>